<center>
	<form name="input" action="/throw" method="post">
		<br><br><h1>Choose one option:</h1> <br><br>
		<img src="/img/rock.jpg"  WIDTH=140 HEIGHT=240 alt="ROCK" />
		<input type="radio" name="eleccion" value="rock"/>
		<img src="/img/paper.jpg"  WIDTH=140 HEIGHT=240 alt="PAPER" />
		<input type="radio" name="eleccion" value="paper"/>
		<img src="/img/scissors.jpg"  WIDTH=140 HEIGHT=240 alt="SCISSORS" />
		<input type="radio" name="eleccion" value="scissors"/>
		<br><br>
		<input type="submit" value="PLAY"/>
	</form>
	<form name="input2" action="/" method="get">
		<input type="submit" value="RESET"/>
	</form>
	<br><br><h1> Wins: <%= @wins %>    Ties:  <%= @ties %>    Losses: <%= @losses %></h1>
</center>
